.home-area-grid {
    display: grid;
    grid-template-rows: 56px 1fr;
    grid-template-columns: 1fr;
}

.home-navbar {
    grid-row: 1;
    padding: 0 4px;
}

@media screen and (min-width:600px) {
    .home-navbar {
        padding: 0 16px;
    }
}

.home-body {
    grid-row: 2;
}